# User Testing Report

User testing was conducted by Michelle on october, 25 between the times of 2pm and 4pm with the following participants:

- Jamie Dean
- Sarah Voss
- Kelsey McMillian

## Tasks

1. Find information on common blends of black tea
2. Find the six tea categories 
3. Navigate back to home page

---

## Individual Results & Observations

### Jamie Dean

- He clicked the the link as soon as he saw it 
- Took longer to find info once he reached the page
- He asked if tea icons could be slightly different to ease navigation  


### Sarah Voss

- Sarah had no trouble navigating her way around the site
- Finding the common types of black tea took the longest
- She wasn't sure why there was a "home" link in the footer


### Kelsey McMillian

- Kelsey also didn't have trouble navigating her way around the site
- She liked the home page link at the footer
- She also enjoyed having the tea type links at the bottom of the black tea information page 

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- Finding the common blends of black tea quickly


### Serious, Causes Frustration, May Hinder Completion

- All the tea type icons are the same which could cause confusion

### Minor, Annoying, Won’t Hinder Completion

- The home page link in the footer