<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Responsive Grids</title>
<link href="css/general.css" rel="stylesheet">
<link href="css/grid.css" rel="stylesheet">
<meta name="handheldfriendly" content="true">
<meta name="mobileoptimized" content="240"
<meta name="viewpoint" content="width=device-width;initial-scael=1">

</head>

<body>

<nav>

<div class="grid">
	<div class="unit unit-s-1 unit-m-1-4 unit-l-1-4">
		<a href="index.html"class="selected">ORIGINS</a>
	</div>
	<div class="unit unit-s-1 unit-m-1-4 unit-l-1-4">
		<a href="types-of-tea.html"class="selected">TYPES OF TEA</a>
	</div>
	<div class="unit unit-s-1 unit-m-1-4 unit-l-1-4">
		<a href="file:///Macintosh HD/Users/michelleelainelauer/Desktop/Semester 5/Interactive Design/responsive-grid/index.html"class="selected">TEA RITUALS</a>
	</div>
	<div class="unit unit-s-1 unit-m-1-4 unit-l-1-4">
		<a href="file:///Macintosh HD/Users/michelleelainelauer/Desktop/Semester 5/Interactive Design/responsive-grid/index.html"class="selected">TEA @ HOME</a>
	</div>
</div>
</nav>

{{content}}

<footer>	
	<a href="index.html"class="selected">HOME</a><p>© 2013 A Cup of Tea</p>
</footer>

