<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Responsive Grids</title>
<link href="{{site.baseurl}}/css/general.css" rel="stylesheet">
<link href="css/grid.css" rel="stylesheet">
<meta name="handheldfriendly" content="true">
<meta name="mobileoptimized" content="240"
<meta name="viewpoint" content="width=device-width;initial-scael=1">
<meta name="description" content="Tea is an international ritual. Overflowing with health benefits, there are so many many reason to enjoy tea.">

<!-- Facebook -->
<meta property="og:type" content="article">
<meta property="og:title" content="A Cup of Tea">
<meta property="og:url" content="http://michellelauer.github.io/large-data-website/types-of-tea.html">
<!-- Image size: minimum 200x200; recommended 1500x1500 -->
<meta property="og:image" content="http://michellelauer.github.io/large-data-website/img/image.jpg">
<meta property="og:description" content="Tea is an international ritual. Overflowing with health benefits, there are so many many reason to enjoy tea.">
<meta property="og:site_name" content="A Cup of Tea">

<!-- Twitter -->
<meta property="twitter:card" content="summary">
<meta property="twitter:title" content="A Cup of Tea">
<meta property="twitter:url" content="http://michellelauer.github.io/large-data-website/types-of-tea.html">
<!-- Image size: 120x120 -->
<meta property="twitterg:image" content="http://michellelauer.github.io/large-data-website/img/image.jpg">
<meta property="twitter:description" content="Tea is an international ritual. Overflowing with health benefits, there are so many many reason to enjoy tea.">
<link href='http://fonts.googleapis.com/css?family=Share+Tech' rel='stylesheet' type='text/css'>

</head>

<body>

<ul class="skiplinks">
	<li><a href="#main">Skip to primary content</a></li>
	<li><a href="#navigation">Skip to main content</a></li>
</ul>

<nav role="navigation" id="navigation">

<div class="grid">
	<div class="unit unit-s-1 unit-m-1-4 unit-l-1-4">
		<a href="index.html"class="selected">{ A CUP OF TEA }</a>
	</div>
	<div class="unit unit-s-1 unit-m-1-4 unit-l-1-4">
		<a href="types-of-tea.html"class="selected">{ TYPES OF TEA }</a>
	</div>
	<div class="unit unit-s-1 unit-m-1-4 unit-l-1-4">
		<a href="../tea-rituals.html" class="selected">{ TEA RITUALS }</a>
	</div>
	<div class="unit unit-s-1 unit-m-1-4 unit-l-1-4">
		<a href="../tea-rituals.html" class="selected">{ TEA @ HOME }</a>
	</div>
</div>
</nav>

<main role="main" id="main">
{{content}}
</main>

<footer role="contentinfo">	
	<a href="index.html"class="selected" rel="home">HOME</a><p>© 2013 A Cup of Tea</p>
</footer>

